Backend/SupermarketAPI/SupermarketAPI/__pycache__/__init__.cpython-312.pyc
Backend/SupermarketAPI/SupermarketAPI/__pycache__/settings.cpython-312.pyc
Backend/SupermarketAPI/SupermarketAPI/__pycache__/wsgi.cpython-312.pyc
Backend/SupermarketAPI/SupermarketAPI/__pycache__/urls.cpython-312.pyc
Backend/SupermarketAPI/SupermarketApp/__pycache__/__init__.cpython-312.pyc
Backend/SupermarketAPI/SupermarketApp/__pycache__/admin.cpython-312.pyc
Backend/SupermarketAPI/SupermarketApp/__pycache__/apps.cpython-312.pyc
Backend/SupermarketAPI/SupermarketApp/__pycache__/dao.cpython-312.pyc
Backend/SupermarketAPI/SupermarketApp/__pycache__/models.cpython-312.pyc
Backend/SupermarketAPI/SupermarketApp/__pycache__/tests.cpython-312.pyc
Backend/SupermarketAPI/SupermarketApp/__pycache__/urls.cpython-312.pyc
Backend/SupermarketAPI/SupermarketApp/__pycache__/views.cpython-312.pyc
Backend/SupermarketAPI/SupermarketApp/migrations/__pycache__/__init__.cpython-312.pyc
Backend/SupermarketAPI/SupermarketApp/tests/__pycache__/__init__.cpython-312.pyc
Backend/SupermarketAPI/SupermarketApp/tests/__pycache__/test_views.cpython-312.pyc
Frontend/delivery_frontend/pubspec.lock
